* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background: rgb(233, 210, 207);
}
.container {
    font-size: 25px;
    display: flex;
    height: 100px;
    width: 100%;
    background: seagreen;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.container h2 {
    color: salmon;
}
.social-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social-media div {
    display: inline;
   
}
.social-media div a {
    display: inline-flex;
    height: 80px;
    width: 80px;
    background: #2c3e50;
    font-size: 40px;
    color: white;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.social-media .facebook a:hover {
    background: #0f7ecd;
}
.social-media a i {
    transition: 0.5s all;
}
.social-media a:hover > i {
    transform: scale(1.6) rotate(360deg);
}
.social-media .twitter a:hover {
    background: #1da1f2;
}
.social-media .google a:hover {
    background: green;
}
.social-media .instagram a:hover {
    background: #7315c6;
}
.social-media .youtube a:hover {
    background: red;
}





